@{
    ViewData["Title"] = "Home";
    bool isLoggedIn = ViewBag.IsLoggedIn ?? false;
    string role = ViewBag.Role ?? "";
}

@if (!isLoggedIn)
{
    <style>
        body {
            background-color:black;
        }

        .login-card {
            background:white;
            border-radius: 16px;
            padding: 30px;
            width: 100%;
            max-width: 600px;
            height:500px;
            box-shadow: 0 15px 40px rgba(0,0,0,0.2);
        }

            .login-card h2 {
                font-weight: bold;
                margin-bottom: 10px;
            }

            .login-card input {
                height: 45px;
                border-radius: 10px;
            }

        .login-btn {
            height: 45px;
            border-radius: 10px;
            font-weight: 600;
        }

  

    </style>
    
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="login-card">
            <h2 class="text-center" style="color:black;">Sign In</h2>
            <p class="text-center text-muted mb-4">
                Login to access the library system
            </p>

            @if (ViewBag.LoginError != null)
            {
                <div class="alert alert-danger text-center">
                    @ViewBag.LoginError
                </div>
            }

            <form asp-controller = "Account" asp-action="Login" method="post">

                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control"
                            required />
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control"
                            required />
                </div>

                <button type="submit" class="btn btn-primary w-100 login-btn">
                    Login
                </button>
            </form>

        </div>
    </div>
}
else if (role == "Admin")
{
    <style>
        body {
            background-color:black;
        }

        .home-card {
            backdrop-filter: blur(10px);
         background-color:white;
            border-radius: 20px;
           color: black;
        }

        .home-btn {
            border-radius: 20px;
            border:2px,solid,black;
            transition: all 0.3s ease;
        }

            .home-btn:hover {
                border: 2px,solid,black;
                transform: translateY(-3px);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
            }
    </style>

    <div class="container mt-5 d-flex justify-content-center">
        <div class="card home-card p-5 shadow-lg text-center" style="max-width: 600px;">

            <h1 class="fw-bold mb-3">📚 Library Management System</h1>
            

            <a class="btn btn-light btn-lg mb-3 home-btn"
               asp-controller="Books" asp-action="Index">
                📖 Manage Books
            </a>

            <a class="btn btn-light btn-lg mb-3 home-btn"
               asp-controller="Members" asp-action="Index">
                👤 Manage Members
            </a>

            <a class="btn btn-light btn-lg home-btn"
               asp-controller="IssuedBooks" asp-action="Index">
                🔄 Issued Books
            </a>
            <hr/>
            <a class="btn btn-light btn-lg mb-3 home-btn"           
            style="background-color:#e53935 ;" asp-action="Logout" asp-controller="Account">
                🚪 Logout
            </a>

        </div>
    </div>
}
else
{
    <style>
        body {
            background-color: black;
        }

        .home-card {
            backdrop-filter: blur(10px);
            background: rgba(255, 255, 255, 0.15);
            border-radius: 20px;
            color: #fff;
        }

        .home-btn {
            transition: all 0.3s ease;
        }

            .home-btn:hover {
                transform: translateY(-3px);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
            }

        
    </style>


}
